name: Packer

on:
  push:
    branches:
        - 'main'

jobs:
  packer:
    runs-on: ubuntu-latest
    name: packer

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Plugins
        uses: hashicorp/packer-github-actions@master
        with:
          command: init
          target: image.pkr.hcl

      - name: Validate Template
        uses: hashicorp/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: image.pkr.hcl

      - name: Build Artifact
        uses: hashicorp/packer-github-actions@master
        with:
          command: build
          arguments: "-color=false -on-error=abort"
          target: image.pkr.hcl
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          VAULT_PASSWORD: ${{ secrets.VAULT_PASSWORD }}
